<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contas</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    <style>
        .links {
            color: white;
        }

        .cardMenu {
            margin-left: 30%;
            margin-top: 3%;
        }
        
    </style>
</head>

<body>
    <!--HighChart -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var valores = /*[[${valores}]]*/ "null";
        console.log(valores)
        if (valores != null) {
            $(function () {
                Highcharts.chart('container', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Balanço Geral'
                    },

                    xAxis: {
                        categories: /*[[${valores.keySet()}]]*/ "null",
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        max: /*[[${maxGrahBar}]]*/ "null",
                        title: {
                            text: 'Valor (R$)'
                        }
                    },

                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: "valor (R$)",
                        data: /*[[${valores.values()}]]*/ "null",
                        showInLegend: false
                    }]
                });
            });
            
            // grafico de linhas balanço por mes
            $(function () {
                Highcharts.chart('container-line', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Lançamentos Por Mês'
                    },

                    xAxis: {
                        categories: /*[[${lancamentosMes.keySet()}]]*/ "null",
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        max: /*[[${maxGrahBar}]]*/ "null",
                        title: {
                            text: 'Valor (R$)'
                        }
                    },

                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: "valor (R$)",
                        data: /*[[${lancamentosMes.values()}]]*/ "null",
                        showInLegend: false
                    }]
                });
            });
            
            
        }
        /*]]>*/
    </script>


    <div>
        <div class="row cardMenu">
            <div class="col s12 m2">
                <div class="card red darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Despesas</span>
                        <a href="/contas/listar" class="links" th:text="${ 'Valor: R$' + contas}">0,00</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m2">
                <div class="card blue darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Lançamentos</span>
                        <a href="/lancamentos/listar" class="links" th:text="${ 'Valor: R$' + lancamentos}">0,00</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m2">
                <div class="card yellow darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Emprestimos</span>
                        <a href="/emprestimos/listar" class="links" th:text="${ 'Valor: R$' + emprestimos}">0,00</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div id="container" style="margin-top:50px; display: inline-block"></div>
            <div id="container-line" style="margin-top:50px; display: inline-block"></div>
        </div>

    </div>
</body>

</html>